
input {
    background-color: #333;
}

form, p, footer, .device-wrapper, .code-wrapper {
    color: violet;
} 

form {
    border: 1px solid #333;
    box-shadow: 0px 0px 4px #000 ;
}

a {
    color: yellow;
}

.wrapper {
    background-color: #000;
}